.menu li{
	list-style-type: none;
	font-size: 20px;
	border: 2px groove black;
	padding: 5px;
	position: relative;
	background-color: #00FF99;
	display: inline;
}

body{
	background-color: #33CCFF;
}
aside{
	float: right;
	display: block;
}